body {
	margin-bottom: 80px;
}

.page-header {
	margin-top: 0;
}

.panel-body {
	padding-top: 0;
}

.featureImg {
	margin-bottom: 15px;
}

#file {
   display: none;
}

.hoverDiv:hover {
	box-shadow: 2px 2px 2px #888888;
	border: 1px solid grey;
}

div.item
{
	width:100%;
	padding:10px;
	margin:0px;
}

img.item
{
	width:100%;
	margin:0px 0px 20px;
}

a{
  text-decoration:none;
}

p.itemname{
	color: blue;
	font-size: 20px;
}
p.price{
	color: red;
	font-size: 16px;
}

.dummyfile input[type="text"] {
   width: 120px;
   display: inline;
}
