body {
	margin-bottom: 80px;
}

.page-header {
	margin-top: 0;
}

.panel-body {
	padding-top: 0;
}

.featureImg {
	margin-bottom: 15px;
}

#file {
   display: none;
}

.hoverDiv:hover {
	box-shadow: 1px 1px 1px #E8E8E8;
	border: 1px solid #E8E8E8;
}

div.item
{
	width:100%;
	padding:10px;
	margin:0px;
}

img.item
{
	width:100%;
	margin:0px 0px 20px;
}

a{
  text-decoration:none;
}

p.itemname{
	color: blue;
	font-size: 20px;
}
p.price{
	color: red;
	font-size: 16px;
}
/*
div#browse_item_container{
  width: 500px;
	margin: 50px auto;
	overflow: hidden;
}
*/
.main-content{
	float: left;
	width: 300px;
}


.sidebar{
  float: left;
	width: 200px;
}


button.shopbtn{

	height: 50px;
	width: 50px;
	border-radius: 50px;
	border: 0px solid #000;
	color: #888888
}

.dummyfile input[type="text"] {
   width: 120px;
   display: inline;
}
