body {
	margin-bottom: 80px;
}

.page-header {
	margin-top: 0;
}

.panel-body {
	padding-top: 0;
}

.featureImg {
	margin-bottom: 15px;
}

#file {
   display: none;
}

li.error{
	color: red;
}

.dummyfile input[type="text"] {
   width: 120px;
   display: inline;
}
