target/

node_modules/

# Can ignore specific files
.DS_Store
001122.jar

# Use wildcards as well
*~
*.swp
*.class
*.project
*.settings
*.classpath
*.log

#ignore object or archive files 
*.[oa]

# ignore my README
*.readme
*.mybk

# to force an ignored file to be tracked
!foo.readme
