extends layout

block content
  form(action="/flight_info", method="post")
    div
      First Name: 
      input(type="text", name="fn",placeholder="First Name")
      p
      t Last Name:
      input(type="text", name="ln",placeholder="Last Name")
      p
      t ID:
      input(type="text", name="id",placeholder="ID (Driver Licence, etc.)")
      p
      input(type='submit',value="Next")
