doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
     header
      h1 Expedia
    .container
      .main-content
        block content
  footer
    p ABSOA Travel Scenario (Running on node with Express, Jade and Stylus)
