extends layout

block append head
	script(src='/js/client.js')

block content
	include nav

	div(class="container")
		div(class="panel panel-default text-center")
			h2 Active Bundle Generator
		div(class="panel panel-default")
			div(class="panel-body")
				//30 Jan form(class='form-inline top-buffer' method = "POST" action = "/create")
				//- handle button event in client.js
				form(class='form-inline top-buffer' method='post' action='#')
					//uld 31 Jan. form(class='form-inline top-buffer' name='test' method='post' action='#')
					if(message)
						p=message
					else
						center
							//scan through all tuples of the DB 'Service_Data'					
							for entry in entries	
								div(class='col-lg-8')
									div(class='form-group')
										label(for='datakey' + entry.id ) Type
											input(name='datakey' + entry.id type='text' id='datkey' + entry.id class='inputkey' + entry.id placeholder=entry.data_key  style='margin-left:10px')
										label(for='datavalue' + entry.id style='margin-left:50px') Content
											input(name='datavalue' + entry.id type='text' id='dataval' + entry.id class='inputval' + entry.id placeholder=entry.data_value style='margin-left:10px')
											input(type="checkbox", name='checkbox_' + entry.id, class='checkbox' + entry.id , text="Include record to AB" style='margin-left:30px')
											//Enable m.b. right to policies, not here. Here we need checkbox 
								
								// div(class='col-lg-8')
								// 	div(class='form-group')
								// 		label(for='datakey2') Type
								// 			input(name='datakey2' type='text' id='datkey2' class='form-control' placeholder='GPA')
								// 		label(for='datavalue2') Content
								// 			input(name='datavalue2' type='text' id='dataval2' class='form-control' placeholder='3.5')
								// 			input(type="checkbox", name="checkbox_2", class='checkbox2', text="Include record to AB")
								// div(class='col-lg-8')
								// 	div(class='form-group')
								// 		label(for='datakey3') Type
								// 			input(name='datakey3' type='text' id='datkey3' class='form-control' placeholder='Assistantship')
								// 		label(for='datavalue3') Content
								// 			input(name='datavalue3' type='text' id='dataval3' class='form-control' placeholder='TA')
								// 			input(type="checkbox", name="checkbox_3", class='checkbox3', text="Include record to AB")

						div(class='col-xs-3 top-buffer')
								button(type='submit' class='btn btn-primary update-service') Generate Active Bundle
		//Policy section								
		div(class="panel panel-primary")
			div(class="panel-heading")
				h3(class="panel-title") Policies for Active Bundle
			div(class="panel-body")
				div(class="panel-group" id="accordion_a")
					///for alg in a_algos
					///3 Feb. div(class="panel panel-default", id='collapse_a_panel' + alg.id)
					div(class="panel panel-default", id='collapse_a_panel')
						div(class="panel-heading")
							h4
								label(for='policy1' ) Policy 1
								button(type="button", class="enable_btn1 pull-right", id=1) Enable
							h4		
								label(for='policy2' ) Policy 2
								button(type="button", class="enable_btn2 pull-right", id=2) Enable
		// 						a(data-toggle="collapse", data-parent="#accordion_a", href='#collapse_a_' + alg.id)=alg.name
		// 						button(type="button", class="btn btn-primary pull-right", id=('a' + alg.id)) Enable
		// 						div(id='collapse_a_' + alg.id, class="panel-collapse collapse")
		// 