extends layout

block content
	include nav

	div(class="container")
		div(class="panel panel-default text-center")
			h2 Active Bundle Generator
		div(class="panel panel-default")
			div(class="panel-body")
				form(class='form-inline top-buffer' method = "POST" action = "/create")
					if(message)
						p=message
					else
						center
							div(class='col-lg-8')
								div(class='form-group')
									label(for='datakey1') Type
										input(name='datakey1' type='text' class='form-control' placeholder='key')
									label(for='datavalue1') Content
										input(name='datavalue1' type='text' class='form-control' placeholder='value')
							div(class='col-lg-8')
								div(class='form-group')
									label(for='datakey2') Type
										input(name='datakey2' type='text' class='form-control' placeholder='key')
									label(for='datavalue2') Content
										input(name='datavalue2' type='text' class='form-control' placeholder='value')
							div(class='col-lg-8')
								div(class='form-group')
									label(for='datakey3') Type
										input(name='datakey3' type='text' class='form-control' placeholder='key')
									label(for='datavalue3') Content
										input(name='datavalue3' type='text' class='form-control' placeholder='value')
							div(class='col-xs-3 top-buffer')
									button(type='submit' class='btn btn-primary update-service') Generate Active Bundle