div(class = 'navbar navbar-inverse navbar-static-top')
	div(class = 'container')
		button(class = 'navbar-toggle', data-toggle = 'collapse', data-target = '.navHeaderCollapse')
			span(class = 'icon-bar')
			span(class = 'icon-bar')
			span(class = 'icon-bar')
		div(class = 'navbar-header')
			a(href = '/', class = 'navbar-brand active') Active Bundle Console
		div(class = 'collapse navbar-collapse navHeaderCollapse')
			ul(class = 'nav navbar-nav navbar-right')
				li
					//- a(href = '/feedback') Feedback
					a(href = '/show_registrations') Client
				li
					a(href = '/services') Services
				li
					a(href = '/') Interaction