extends layout
block content
	div(class="panel panel-default")
		div(class="panel-heading") 
			h3(class="panel-title") Available Items
		table(class="table")
			tr
				td Name
				td Price
				td
					a
						i(class="glyphicon glyphicon-shopping-cart")
			each item in items
				tr
					td=item[0]
					td=item[1]
					if item[2]
						td
							a
								i(class="glyphicon glyphicon-ok green")
						td
							a(href="")
								i(class="glyphicon glyphicon-plus-sign green")
							span(class="badge")=item[3]
							a(href="")
								i(class="glyphicon glyphicon-minus-sign red")
							a(href="")
								i(class="glyphicon glyphicon-remove-sign red")
					else
						td
							a(href="#")
								i(class="glyphicon glyphicon-ok grey")
							

