extends layout
block content
	div(class="panel panel-default")
		div(class="panel-heading") 
			h3(class="panel-title") Available Items
		table(class="table table-striped table-hover")
			tr
				th Name
				th Price
				th
					a
						i(class="glyphicon glyphicon-shopping-cart")
			each item,i in items
				tr
					td=item[0]
					td=item[1]
					td
						input(id="spinner" + i  value=1)
						a(id="buy" + i href="#")
							i(class="glyphicon glyphicon-ok grey")
						

