doctype html
html
	include header
	script(src="./javascripts/shop.js")
	body
		include nav_bar
		.container
			.main-content
				block content
	footer
		p  ABSOA E-Commerce Scenario (Running on node with Express, Jade and Stylus)
