div(class="navbar navbar-inverse navbar-default-top", role="navigation")
	div(class="container-fluid")
		button(class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
			span(class="icon-bar")
			span(class="icon-bar")
			span(class="icon-bar")
		div(class="navbar-header")
			a(class="navbar-brand" href="/") E-Commerce
