doctype html
html
	include header
	script(src="/javascripts/fileupload.js")
	body
		include nav

		div(class = 'container')
			div(class = 'container' id="leftbar")
			div(class = 'container' id="items")



