doctype html
html
	include catalog_header
	script(src="/javascripts/browse.js")
	body
		include nav

		div(class = 'container')
			div(id = 'legend')
				legen
					h3 Catalog
			table(class="table" id="shop")
				- var columns = 3
				- for(var i=0;i<item_sell.length;i=i+columns)
					tr
						- for(var j=0;j<columns && (i+j)<item_sell.length;j++)
							td
								div( class = 'hoverDiv item')
									img(src=item_sell[i+j].picture class="item")
									center
										p(class="itemname")=item_sell[i+j].itemname
										p(class="price") $#{item_sell[i+j].price}



