head
	title= title
	meta(name = 'viewport', content = 'width=device-width, initial-scale=1.0')
	link(rel = 'stylesheet', href = '/stylesheets/bootstrap.min.css')
	link(rel = 'stylesheet', href = '/stylesheets/catalog_styles.css')

	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='/javascripts/bootstrap.min.js')
	// Bootstrap
	link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
	link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
