head
	title= title
	meta(name = 'viewport', content = 'width=device-width, initial-scale=1.0')
	link(rel = 'stylesheet', href = '/stylesheets/bootstrap.min.css')
	link(rel = 'stylesheet', href = '/stylesheets/catalog_styles.css')

	script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
	script(src='/javascripts/bootstrap.min.js')
	// Bootstrap
	link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
	link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
	// JQuery
	link(rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")
	script(src="//code.jquery.com/jquery-1.9.1.js")
	script(src="/resources/demos/external/jquery.mousewheel.js")
	script(src="//code.jquery.com/ui/1.10.4/jquery-ui.js")

