doctype html
html
	include header
	link(rel = 'stylesheet', href = '/stylesheets/main.css')
	body
		include nav

		div(class = 'container')
			div(class = 'jumbotron')
				center
					h1 Welcome
					p We specialize in all types of electronic products such as laptops, mobile phones, tablets. We have all the top brands such as Apple, Dell, Samsung, HP etc. Check our product catalog.
					a(href="/catalog" class = 'btn btn-default custom_margin') Browse
					a(class = 'btn btn-info custom_margin') Login

		include login

		div(class = 'navbar navbar-default navbar-fixed-bottom')
			div(class = 'container')
				p(class = 'navbar-text pull-left') Copyright: Raid Lab, all rights reserved
				a(href = 'https://code.google.com/p/absoa/', class = 'navbar-btn btn-danger btn pull-right') Source Code
