div(class = 'container')
		form(class = 'form-horizontal', role = 'form')
			div(id = 'legend')
				legend
					h3 Login
			div(class = 'form-group')
				label(for = 'uname', class = 'col-sm-2 control-label') Username
				div(class = 'col-sm-3')
					input(type = 'text', class = 'form-control', id = 'uname', placeholder = 'Username')
			div(class = 'form-group')
				label(for = 'pass', class = 'col-sm-2 control-label') Password
				div(class = 'col-sm-3')
					input(type = 'password', class = 'form-control', id = 'pass', placeholder = 'Password')
			div(class = 'form-group')
				div(class = 'col-sm-offset-2 col-sm-10')
					button(type = 'submit', class = 'btn btn-success') Sign in