div(class = 'navbar navbar-inverse navbar-static-top')
	div(class = 'container')
		button(class = 'navbar-toggle', data-toggle = 'collapse', data-target = '.navHeaderCollapse')
			span(class = 'icon-bar')
			span(class = 'icon-bar')
			span(class = 'icon-bar')
		div(class = 'navbar-header')
			a(href = '/', class = 'navbar-brand active') E-Commerce
		div(class = 'collapse navbar-collapse navHeaderCollapse')
			ul(class = 'nav navbar-nav navbar-right')
				if(user)
					li
						a(href = '#')=user
					li
						a(href = '#') Log out
				else
					li
						a(href = '/') Login
					li
						a(href = '/register') Register
				li
					a(href = '/catalog') Catalog
